<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width">
</head>
<body>

  <h1>you quiz is on the link below</h1>
  <h5>link: </h5>
  <a href="<%=url%>"><%=url%></a>
<h5>password: </h5>
  <p><%=password%></p>
</body>
</html>
