<!DOCTYPE html>

<html>
<head>
</head>
<body>
done with that form creation.
reached the number of set question.

  <h1>you quiz is on the link below</h1>
  <a href="<%=url%>"><%=url%></a>
</body>
</html>
