<!DOCTYPE html>

<html>
<head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css">
    <script src="scripts/jquery-3.2.1.js"></script>
    <script src = "scripts/loading.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<meta name="viewport" content="width=device-width">
</head>
<body>
<div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate" style="display:none"></div>
<div class="pie"><%=percent%></div>


<script>
jQuery('.pie').each(function(index, element) {
  var num = +($(this).text());
  var chart = '<svg viewBox="0 0 32 32"><circle class="circle" r="16" cx="16" cy="16" style="stroke-dasharray: 10 100" /></svg>';
  jQuery(this).html(chart);
  if(<%=percent%> > 50){
  jQuery(this).find('.circle').css('stroke', 'limegreen');
}else {
  jQuery(this).find('.circle').css('stroke', 'red');
}
  if(num == 100){
  jQuery(this).find('.circle').css('stroke-dasharray', (num+1) + ' 100');
}else {
    jQuery(this).find('.circle').css('stroke-dasharray', (num) + ' 100');
  }
  jQuery(this).append('<h2>' + num + '%</h2>');
});

</script>
<%if(percent <= 50){%>
  <h5> you have Failed, please do the test one more time</h5>
  <button  onClick="goBack();displayLoading()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    Button url = <=url>
  </button>
  <script>
  function goBack() {
      window.history.back();
  }
  </script>
<%}%>

</body>
</html>
