<!DOCTYPE html>

<html>
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link href="/assets/styles2.css" rel="stylesheet" type="text/css">
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <div class="mdl-card mid">

  <h1>you quiz is on the link below</h1>
  <h5>link: </h5>
  <a href="<%=url%>"><%=url%></a>
<h5>password: </h5>
  <p><%=password%></p>
</div>
</body>
</html>
